* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/patt.png);
}

header {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    align-items: center;
    display: flex;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
}

[class="col_"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col_3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col_6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.logo {
    margin-top: 7px;
}

.menu {
    display: flex;
}

.menu li {
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: flex;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #2c71b8;
}

.menu a:hover {
    color: white;
    background-color: #2c71b8;
}

.form {
    display: flex;
    align-items: center;
}

.search_form {
    flex: 0 0 200px;
    height: 40px;
    display: flex;
    border: #2c71b8 1px solid;
    margin-left: 30px;
    align-items: center;
}

.search_text {
    flex: 0 0 auto;
    max-width: 150px;
    margin: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    height: 30px;
}

.search_text:focus {
    outline: none;
}

.search_text::placeholder {
    border: none;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 100;
}

.search_btn {
    flex: 0 0 auto;
    background-color: #2c71b8;
    height: 30px;
    width: 30px;
    margin: 5px;
    border: none;
}

.backet_box {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    position: relative;
}

.backet_btn {
    background-color: white;
    height: 40px;
    width: 40px;
    background-image: url(img/icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.counter {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: white;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: -10px;
    left: -10px;
}

/*dropdown*/

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    display: none;
    width: 300px;
    background-color: #2c71b8;
    text-align: left;
}

.dropdown_btn:hover .dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown li {
    width: 100%;
}

.dropdown li a {
    color: white;
    height: 50px;
}

.dropdown li a:hover {
    background-color: white;
    color: #2c71b8;
}

.dropdown li a:hover .dropdown_btn{
    background-color: #2c71b8;
    color: white;
}

